@import 'variables';
@import 'queries';

//container widths
// $list is at what points do you want to create a new media query with min / max width
$list: medium mediumish full;
@each $point in $list { 
	##{$container_name} {
		@include breakpoint($point) {
			@include bodyminmax($point);
		}
	}
}

//grid wrappers
$gridlist: full;
@for $i from 1 through $gridwrap_count {
	.#{$gridwrap_name}_#{$i} {
		@each $point in $gridlist {
			@include breakpoint($point) {
				@include bodyminmax($point);
				clear:both;
			}
		}
	}
}


// -- FOR TABLELESS (but displayed as table) LAYOUT OF MIN AND MAX VARYING WIDTHS 
$collapse: grande;
@each $point in $collapse { 
	.body_contain {
		@include breakpoint($point) {
			@include bodyminmax($point);

		}
	}
}

//grid wrappers for border collapse style
@for $i from 1 through $gridwrap_count {
	.#{$gridwrap_name}_#{$i} {
		@each $point in $collapse {
			@include breakpoint($point) {
				display:table-row;
				border-collapse:separate;
				border-spacing:$gutters_em +0em;
			}
		}
	}
}