@import 'helpful';
@import 'grid';
@import 'nest';
@import 'percentages';

body {
font-size: $font+0%;
line-height:1.5;
background:#000;
}

@import 'reset';
@import 'html5';

#container {
margin:0px auto;
background:#fff;
overflow:hidden;
@include boxshadow(inset 0 0 2px 2px #eee, 0 0 4px 4px #ddd, 0 0 6px 6px #ccc, 0 0 8px 8px #bbb, 0 0 10px 10px #aaa);
@include rounded(3px);
}

@import 'wrappers';
@import 'layout';
@import 'front';
@import 'fonts';
@import 'header';
@import 'callgrid';
@import 'menu';
@import 'inputs';
@import 'tables';
@import 'sprites';
@import 'admin';