// Mobile
@include percent_mobile (2);
@include percent_mobile (4);

// Tablets
@media screen and (min-width:641px) {
	@include percent_tablet (2) {float:left;};
	@include percent_tablet (4) {float:left;};
}

// Responsive
@media screen and (min-width:781px) {
	@include percent_combine (2, down);
	@include percent_pushnpull (2, down, push);
	@include percent_combine (4, up);
	@include percent_pushnpull (4, up, pull);
	
	#main_content {
	width: 100%;
	float: left;
	margin-right: -100%;
	@extend %push_2;
	@extend %pull_4;
	}
}